html { 
  /*background-image:url('../images/bg.gif');*/
  background: #FFFFFF;
}
#main {
  background-color:white;
  margin:5px;
  border: 0px solid red;
}
#right {
  margin:5px;
}
.container {
  border: 1px solid red; 
}