html { 
  /*background-image:url('../images/bg.gif');*/
  background: #FFFFFF;
}
body {
  margin: 0 auto;
  border: 0px solid red;
}
#wrapper {
  width: 800px;
  height: 100%;
  border: 1px solid red;
}
#main {
  background-color:white;
  margin:5px;
  border: 0px solid red;
}
#right {
  margin:5px;
}
.container {
  border: 0px solid red; 
}