<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8"> 
    <meta name="author" content="stephen mallette"/>
    <title>stephen@genoprime</title>
   
    <link href="http://feeds.feedburner.com/stephenatgenoprime" rel="alternate" title="stephen@genoprime" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/typography.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/elastic.css" type="text/css" media="all" /> 
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="all" /> 
    <link rel="stylesheet" href="/css/code.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/vee.css" type="text/css" media="all" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22004389-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="container" style="margin:5px">
      <br/>
      <h1>stephen@genoprime</h1> 
      <hr/>
    </div>
    {{ content }}
  </body>
</html>
