---
layout: default
---

<div style="margin:5px">
  <h3>About</h3>
  <p>My name is Stephen Mallette and I've been developing software for about fifteen years.  My experience spans a number of industries, however the core of my efforts have been in healthcare and includes experience with Electronic Health Records, medical billing, and pharmaceutical business intelligence.  I've been fortunate to work with a number of start-up companies during this time and understand the challenges that they face.</p>
  <p>I'm an active open source contributor and focus most of that work on the <a href="http://tinkerpop.com">TinkerPop</a> and <a href="http://thinkaurelius.com">Aurelius</a> stacks, which are both related to graph technology.  I also maintain <a href="http://gremlindocs.com">GremlinDocs</a>, which provides code-example-based documentation for the <a href="http://gremlin.tinkerpop.com">Gremlin</a> graph traversal language.</p>
</div>
<div id="main" style="margin:5px">
	{{ content }}
</div>

