---
layout: default
---

<div class="unit on-3 columns same-height">
  <div class="container" style="margin:5px">
    <div class="column span-2 full-height">
      <div id="main" class="container">
	{{ content }}
      </div>
    </div>
    <div class="column full-height">
      <div id="right" class="container">
        <div>
          <h3>About</h3>
          <p>My name is Stephen Mallette and I've been developing software for about fifteen years.  My experience spans a number of industries, however the core of my efforts have been in healthcare and includes experience with Electronic Health Records, medical billing, and pharmaceutical business intelligence.  I've been fortunate to work with a number of start-up companies during this time and understand the challenges that they face.</p>
          <p>I'm an active open source contributor and focus most of that work with the folks at <a href="http://tinkerpop.com">TinkerPop</a> and <a href="http://thinkaurelius.com">Aurelius</a>.</p>
        </div>
	<div>
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
            new TWTR.Widget({
              version: 2,
	      type: 'profile',
	      rpp: 5,
	      interval: 6000,
	      width: 250,
	      height: 300,
	      theme: {
	        shell: {
		  background: '#8c848c',
		  color: '#ffffff'
	        },
		tweets: {
		  background: '#ffffff',
		  color: '#000000',
		  links: '#006cbf'
		}
	      },
	      features: {
	        scrollbar: true,
	        loop: false,
	        live: false,
	        hashtags: true,
	        timestamp: true,
	        avatars: true,
	        behavior: 'all'
              }
            }).render().setUser('spmallette').start();
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
